---
import HtmlIcon from './icons/HtmlIcon.astro'
import CssIcon from './icons/CssIcon.astro'
import ReactIcon from './icons/ReactIcon.astro'
import AstroIcon from './icons/AstroIcon.astro';
import TailwindIcon from './icons/TailwindIcon.astro';

const TAGS = {
    HTML: {
        name: "HTML",
        class: "bg-transparent  tex-[#ff5225]",
        icon: HtmlIcon
            
    },
    CSS: {
        name: "CSS",
        class: "bg-transparent tex-[#0870c2]",
        icon: CssIcon
    },
    REACT: {
        name: "REACT",
        class: "bg-transparent tex-[#5ecbf1] ",
        icon: ReactIcon            
    },
    JAVASCRIPT: {
        name: "JAVASCRIPT",
        class: "bg-transparent tex-[#5ecbf1] ",
        icon: TailwindIcon            
    },
    
};

const PROJECTS = [
    {
        title: "Spotify Main Screen Layout - April 2024",
        description:
            "Maquetización de la pantalla principal de Spotify de abril 2024 utilizando componentes de React. Se enfocó en la estructura principal y solo en la interfaz de usuario.",
        link: "https://example.com/project-one",
        github: "https://github.com/username/project-one",
        image: "/projects/sptreact.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.REACT],
    },
];
---

{
    PROJECTS.map(({ title, image, description, tags }) => (
        <article>
            <h3 class="text-2xl font-semibold text-blue-300/100 mb-2">
                {title}
            </h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul  class="flex gap-x-2 flex-row mb-4">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-zs ${tag.class} py-1 px-3 backdrop-filter backdrop-blur-md border border-solid border-white/10`}>
                            <tag.icon class="size-6"/> {tag.name}</li>
                        </span>
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-white/10"
                src={image}
                alt={`Captura pantalla del proyyecto ${image}`}
            />
        </article>
    ))
}
